@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;500&family=Poppins:wght@300;400&display=swap');
@font-face {
  font-family: 'Clash';
  src: url(fonts/Supercell-magic-webfont.ttf);
}
@font-face {
    font-family: 'Valo';
    src: url(fonts/Valorant\ Font.ttf);
}
*{
   overflow-x: hidden;
    padding: 0;
    margin: 0;
}
nav{
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    height: auto;
    background-color:black ;
}
nav ul{
    list-style: none;
    display: inline;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
}
nav ul li{
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 50px;
}
nav ul li a{
    font-family: 'Clash', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.logo{
    position: relative;
    left: 0;
    height: 80px;
    width: 80px;
    margin: 10px;
}
.home{
    overflow: hidden;
    position: relative;
    height: 900px;
}
.imagen{
    position: absolute;
    top: 50%;
    left: 39%;
    z-index: 50;
    height: 200px;
    width: 400px;
}
.lead { font-size: 1.5rem; font-weight: 300; }
.container { margin: 150px auto; text-align: center; }
.btn { padding: 1.25rem; border: 0; border-radius: 3px; background-color: #4F46E5; color: #fff; cursor: pointer; }
.seccion2{
  background-color: black;
}
.seccion2{
    position: relative;
    overflow: hidden !important;
}
.background{
    font-size: 200px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    position: absolute;
    word-spacing: 180px;
}
.container h1{
    overflow: hidden !important;
    font-family: 'Clash';
    color: #fff;
    position: absolute;
    left: 15%;
    top: 10%;
    z-index: 5;
    font-size: 45px;
}
.container hr{
    width: 50%;
    position: relative;
}
.inner{
    overflow: hidden !important;
}
.slide{
    word-wrap    : break-word !important;
    overflow-wrap: break-word !important;
    overflow: hidden !important
}
.slide div{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.contenedortexto{
    position: relative;

}
.contenedortexto p{
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block !important;
    color: white;
    position: absolute;
    font-size: 25px;
    font-family: 'Clash';
}
.seccion3{
    width: 100%;
    height: 700px;

}
.imagenarquera{
    background-image: url(imagenes/bg_hero_games.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
}